@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --foreground-introduction: #000000;
  --background-body: #6c63ff;
  --background-body-introduction: #ffffff;
  --active-color: #6C63FF;
  --passive-color: #000000;
  --active-width: 22px;
  --passive-width: 16px;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 420px;
}


span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  width: var(--active-width);
  transition: .3s;
  height: 6px;
  border-radius: 3px;
  background-color: var(--active-color);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
span.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
span.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
span.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  background-color: black;
}

div.swiper-button-prev {
  display: none;
}

div.swiper-button-prev::after {
  display: none;
  content: '';
}

div.swiper-button-next {
  top: 94%;
  left: 84%;
  width: 40px;
  background: black;
  border-radius: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 14px;
  font-weight: 600;
  color: var(--foreground);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

div.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 16%;
  bottom: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.svg {
  stroke-dasharray: 100;
  animation: dash 15s linear infinite;
  stroke: #ffffffab;
  fill: var(--background-body);
  stroke-width: 1px;
}

.input::placeholder {
  font-size: 14px;
}

.by {
  letter-spacing: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}